app-blocks
  .blocks_container
    width: 100%

  .group_list
    padding-left: 0px

    > li.subgroup
      display: inline-block
      margin: 5px

    > li.element
      display: inline-block
      width: 150px
